* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 1em 2ch;
    max-width: 21cm;
    height: 100dvh;
    font-family: system-ui;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em 0;
    width: 100%;
}

code {
    border: 1px dotted;
    font-family: monospace;
}
